
* {
	margin: 0;
	padding: 0;
}

.fundamental-components__wrapper {
	border: 1px solid #ccc;
	margin-bottom: 25px;
	padding: 8px;
}

.fundamental-components {
	display: table;
	margin-bottom: 25px;
	width: 100%;
}

.fundamental-components--header,
.fundamental-components--content {
	display: table-row;
}

.fundamental-components--header .fundamental-components--header-title,
.fundamental-components--content .fundamental-components--content-title {
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	float: left;
	font-size: 12px;
	min-height: 24px;
	padding: 5px 0 5px;
	width: 24%;
}

.fundamental-components--header .fundamental-components--header-data {
	text-align: center;
}

.fundamental-components--content .fundamental-components--content-data {
	text-align: right;
}

.fundamental-components--header .fundamental-components--header-data,
.fundamental-components--content .fundamental-components--content-data {
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	float: left;
	font-size: 12px;
	min-height: 24px;
	padding: 5px 3px 5px 0;
	width: 9.5%;
}

.balance-statement .fundamental-components--header .fundamental-components--header-title,
.balance-statement .fundamental-components--content .fundamental-components--content-title {
	width: 38%;
}

.balance-statement .fundamental-components--header .fundamental-components--header-data,
.balance-statement .fundamental-components--content .fundamental-components--content-data {
	width: 15%;
}

.fundamental-components--header .fundamental-components--header-title,
.fundamental-components--header .fundamental-components--header-data,
.fundamental-components--content .fundamental-components--content-title,
.fundamental-components--content .fundamental-components--content-data {
	display: table-cell;
}

.fundamental-components--header span {
	font-weight: bold;
}



.key-statistics--component {

}

.key-statistics--component .panel {
	border: 1px solid #ccc;
	padding: 10px;
}

.key-statistics--component .panel-title {
	font-weight: bold;
	font-size: 14px;
	margin-bottom: 15px;
}

.key-statistics--component .panel .panel-lists {
	list-style: none;
	margin-bottom: 0;
	padding-left: 0;
}

.key-statistics--component .panel .panel-lists li {
	border-bottom: 1px solid #ccc;
	color: #333;
	font-size: 11px;
	margin-bottom: 5px;
}

.key-statistics--component .panel .panel-lists li .text-price {
	float: right;
}

.key-statistics--component .panel .panel-lists li .text-info {
	
}

.chart-color-icon {
	display: block;
	float: left;
	margin-top: 2px;
	margin-right: 3px;
	height: 14px;
	width: 14px;
}

.chart-color-icon-1 {
	background-color: #b1d8f8;
}

.chart-color-icon-2 {
	background-color: #94c6df;
}

.chart-color-icon-3 {
	background-color: #4798c1;
}

.chart-color-icon-4 {
	background-color: #0e36a2;
}

.chart-color-icon-5 {
	background-color: #020e30;
}


.chart-color-icon--circle {
	border-radius: 50%;
    background-color: #000000;
    width: 15px;
    height: 10px;	
}