<div class="login-component">
	<div class="brand-name">
		<a href="javascript:;" title="Vistalytics"><img class="img-responsive" src="images/logo.png" alt=""></a>
	</div>

	<form class="login-form" action="javascript:;" method="post" ng-submit="login();">
		<div class="form-group">
			<input class="form-control" type="text" name="loginName" value="" placeholder="Employee ID">
		</div>
		<div class="form-group">
			<input class="form-control" type="password" name="loginPwd" value="" placeholder="Password">
		</div>
		<input class="btn btn-default btn-login" type="submit" value="Submit">
	</form>

	<!-- <div class="login-component--links">
		<a class="forgot-password-cta" href="javascript:;" ng-click="goToForgotPassword();" translate="login.forgot_password"></a>
		<a class="join-now-cta" href="javascript:;" translate="login.not_a_member" ng-click="goToRegisterPage();"></a>
	</div>	 -->
</div>
