
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
        <img alt="Brand" src="images/header.png">
    </div>
  </div>
</nav>
<!-- <ul class="nav nav-pills">
  <li role="presentation" class="active"><a href="#">Home</a></li>
  <li role="presentation"><a href="#">Profile</a></li>
  <li role="presentation"><a href="#">Messages</a></li>
</ul> -->

<div class="container">
	<div class="row">
		<div class="col-md-3 cursor-pointer" ng-click="goto('food')">
			<span class="label label-default">
				<div class="thumbnail">
					<img src="images/food.png" alt="food">
					<div class="caption">
		  			<h3>Food</h3>
		  		</div>
				</div>
			</span>
		</div>
		<div class="col-md-3 cursor-pointer" ng-click="goto('food')">
			<span class="label label-default">
				<div class="thumbnail">
					<img src="images/food.png" alt="food">
					<div class="caption">
		  			<h3>Food</h3>
		  		</div>
				</div>
			</span>
		</div>
		<div class="col-md-3 cursor-pointer" ng-click="goto('food')">
			<span class="label label-default">
				<div class="thumbnail">
					<img src="images/food.png" alt="food">
					<div class="caption">
		  			<h3>Food</h3>
		  		</div>
				</div>
			</span>
		</div>
		<div class="col-md-3 cursor-pointer" ng-click="goto('food')">
			<span class="label label-default">
				<div class="thumbnail">
					<img src="images/food.png" alt="food">
					<div class="caption">
		  			<h3>Food</h3>
		  		</div>
				</div>
			</span>
		</div>
	</div>
</div>