<div class="container">

	<div class="row">
	  <div class="col-md-6" ng-click="">Food</div>
	  <div class="col-md-6" ng-click="">Transport</div>
	</div>
	<div class="row">
	  <div class="col-md-6" ng-click="">Pantry</div>
	  <div class="col-md-6" ng-click="">Restroom</div>
	</div>
	<div class="row">
	  <div class="col-md-6" ng-click="">Lost/Found</div>
	  <div class="col-md-6" ng-click="">Electricity</div>
	</div>
	<div class="row">
	  <div class="col-md-6" ng-click="">Default1</div>
	  <div class="col-md-6" ng-click="">Default2</div>
	</div>
	<div class="row">
	  <div class="col-md-6" ng-click="">Default3</div>
	  <div class="col-md-6" ng-click="">Default4</div>
	</div>
</div>